/*
=============================================================
                    THANKU
=============================================================
*/
.gracias-p{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
